################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaymentGateway/.vs/PaymentGateway/v16
/PaymentGateway/bin/Debug/netcoreapp3.0
/PaymentGateway/obj
/PaymentGatewayTests/bin/Debug/netcoreapp3.0
/PaymentGatewayTests/obj
/PaymentGateway/.vs/PaymentGateway/DesignTimeBuild
